body {
  background: linear-gradient(90deg, hsla(213, 75%, 62%, 1) 0%, hsla(313, 75%, 62%, 1) 100%);
  height: 100%;
  width: auto;
  overflow: auto;
}

/* ....................................H1 H3................................... */
h1 {
  color: rgb(255, 255, 255);
}
h3 {
  color: rgb(255, 255, 255);
}

/* ....................................TABLE................................... */
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgb(73, 71, 71)
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
tbody tr:nth-of-type(even) {
  background-color: #f7ecec;
  
}

tr:hover td{
  transform: translateY(-2px);

}
tr:first-child:hover td {
  border-top: none;
}
tr:last-child:hover td {
  border-bottom: none;
}
/* ....................................INPUT................................... */


label {
float: left; 
  padding: 5px; 
  width: 1px;
  margin-left: 10px;
 
}
input {

background-color: transparent;
border-radius: 10px;
border-color: #fffcfc;
margin-left: 100px;
margin-top: 10px;


}
input::placeholder {
  color: rgba(54, 29, 29, 0.596);
}
/* ....................................BUTTON................................... */
button {
background-color: transparent;
border-color: #dddddd;
border-radius: 10px;
width: auto;
margin-left: 10px;

}
/* ....................................REST COMPONENT................................... */
.rest_of_component {
  
  height: 800px; 
  overflow: auto; 

  position: absolute;
  left: 50%;
  top: 5%;
}
/* ....................................HOME................................... */
.home_component {
  height: 800px; 
  overflow: auto; 
  position: absolute;
  right: 60%;
  top: 20px;
}
/* ...................................SCROLL BAR................................... */

::-webkit-scrollbar {
  color:transparent;
}

