<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../function/HomePage.js"></script>
    
    <title>findByAge</title>
</head>
<body>
    <h1>Find By Age</h1>

       <table border="2">
            <tr>
                <th>Object Id</th>
                <th>Name</th>
                <th>AGE</th>
            </tr>
                <% for (let i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i]._id %></td>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].age %></td>
                    </tr>
                <% } %>
        </table>
    </br>
    <button id="home-btn" onclick="HomePage()"> Home Page</button>

    <script>
        function HomePage() {
    window.location.href = '/';
  }
    </script>
        
</body>
</html>