body {
  background-color: #f2f2f2;
}
h1 {
  color: blue;
}
h3 {
  color: blue;
}
table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 2px solid black;
}
label {
float: left; 
  padding: 0; 
  width: 1px;
  margin-left: 10px;
}
input {
margin-left: 100px;
margin-top: 10px;

}
button {
width: auto;
margin-left: 10px;
}
.rest_of_component {
  position: fixed;
  left: 50%;
  top: 5%;
}
.home_component {
  position: fixed;
  right: 60%;
  top: 20px;
}
