/* __________________________________________________________________________________________IMG CONTAINER___________________________________________________________________________________ */
.imgcontainer {
  position: fixed;
  top: 10px;
  right: -445px;
  z-index: 2;

}

img.avatar {
  width: 7%;
  border-radius: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

img.avatar:hover {
      transform: scale(1.1);
}
/* __________________________________________________________________________________________RECONNECT___________________________________________________________________________________ */
.reconnect {
position: fixed;
right: 53%;
bottom: 5%;
} 
/* __________________________________________________________________________________________SIDE BAR___________________________________________________________________________________ */
